<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Fixes</key>
			<dict>
				<key>AddDTGP_0001</key>
				<true/>
				<key>AddHDMI_8000000</key>
				<false/>
				<key>AddIMEI_80000</key>
				<true/>
				<key>AddMCHC_0008</key>
				<false/>
				<key>AddPNLF_1000000</key>
				<true/>
				<key>DeleteUnused_400000</key>
				<false/>
				<key>FIX_ACST_4000000</key>
				<true/>
				<key>FIX_ADP1_800000</key>
				<true/>
				<key>FIX_INTELGFX_100000</key>
				<false/>
				<key>FIX_RTC_20000</key>
				<true/>
				<key>FIX_S3D_2000000</key>
				<true/>
				<key>FIX_TMR_40000</key>
				<true/>
				<key>FIX_WAK_200000</key>
				<true/>
				<key>FakeLPC_0020</key>
				<false/>
				<key>FixAirport_4000</key>
				<false/>
				<key>FixDarwin_0002</key>
				<false/>
				<key>FixDisplay_0100</key>
				<false/>
				<key>FixFirewire_0800</key>
				<false/>
				<key>FixHDA_8000</key>
				<false/>
				<key>FixHPET_0010</key>
				<true/>
				<key>FixIDE_0200</key>
				<false/>
				<key>FixIPIC_0040</key>
				<true/>
				<key>FixLAN_2000</key>
				<false/>
				<key>FixRegions_10000000</key>
				<true/>
				<key>FixSATA_0400</key>
				<false/>
				<key>FixSBUS_0080</key>
				<false/>
				<key>FixShutdown_0004</key>
				<false/>
				<key>FixUSB_1000</key>
				<false/>
			</dict>
			<key>Name</key>
			<string>DSDT.aml</string>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>Rename _PR.CPU0 in SSDT</string>
					<key>Find</key>
					<data>
					X1BSX0NQVTAUDl9QUEM=
					</data>
					<key>Replace</key>
					<data>
					X1paX0NQVTAUDl9QUEM=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Rename _PR.CPU0 in SSDT</string>
					<key>Find</key>
					<data>
					X1BSX0NQVTAIX1BQQw==
					</data>
					<key>Replace</key>
					<data>
					X1paX0NQVTAIX1BQQw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Rename GFX0 to IGPU</string>
					<key>Find</key>
					<data>
					R0ZYMA==
					</data>
					<key>Replace</key>
					<data>
					SUdQVQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_PRW 0x0D (0x03-&gt;0x00)</string>
					<key>Find</key>
					<data>
					AgoNCgM=
					</data>
					<key>Replace</key>
					<data>
					AgoNCgA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_PRW 0x0D (0x04-&gt;0x00)</string>
					<key>Find</key>
					<data>
					AgoNCgQ=
					</data>
					<key>Replace</key>
					<data>
					AgoNCgA=
					</data>
				</dict>
			</array>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>CpuPm</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>Cpu0Ist</string>
			</dict>
		</array>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>EnableC7</key>
			<true/>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<true/>
				<key>PStates</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>keepsyms=1 -hbfx-patch-pci</string>
		<key>Debug</key>
		<false/>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>Fast</key>
		<false/>
		<key>Legacy</key>
		<string>PBR</string>
		<key>StrictHibernate</key>
		<true/>
		<key>Timeout</key>
		<integer>4</integer>
		<key>XMPDetection</key>
		<string>-1</string>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<string>3</string>
		</dict>
		<key>FakeID</key>
		<dict>
			<key>ATI</key>
			<string>0x0000</string>
			<key>IMEI</key>
			<string>0x0000</string>
			<key>IntelGFX</key>
			<string>0x04128086</string>
			<key>LAN</key>
			<string>0x0000</string>
			<key>NVidia</key>
			<string>0x0000</string>
			<key>SATA</key>
			<string>0x0000</string>
			<key>WIFI</key>
			<string>0x0000</string>
			<key>XHCI</key>
			<string>0x0000</string>
		</dict>
		<key>USB</key>
		<dict>
			<key>FixOwnership</key>
			<false/>
			<key>Inject</key>
			<false/>
		</dict>
		<key>UseIntelHDMI</key>
		<true/>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Hide</key>
		<array>
			<string>Volume_UUID</string>
		</array>
		<key>Language</key>
		<string>ru:19458</string>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
			<key>Speed</key>
			<integer>0</integer>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<true/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>TextOnly</key>
		<false/>
		<key>Theme</key>
		<string>BGM</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<true/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>PatchVBios</key>
		<false/>
		<key>ig-platform-id</key>
		<string>0x0a16000c</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<false/>
		<key>AsusAICPUPM</key>
		<false/>
		<key>Debug</key>
		<false/>
		<key>KernelCpu</key>
		<false/>
		<key>KernelLapic</key>
		<false/>
		<key>KernelPm</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Backlight Level Fix 0x01660009</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				CQBmAQEDAwMAAAAEAAAAAQAAAGAQBwAAEAc=
				</data>
				<key>Name</key>
				<string>AppleIntelFramebufferCapri</string>
				<key>Replace</key>
				<data>
				CQBmAQEDAwMAAAAEAAAAAQAAAGAQBAAAEAQ=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Backlight Level Fix 0x01660003</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AwBmAQECBAIAAAAEAAAAAQAAAGAQBwAAEAc=
				</data>
				<key>Name</key>
				<string>AppleIntelFramebufferCapri</string>
				<key>Replace</key>
				<data>
				AwBmAQECBAIAAAAEAAAAAQAAAGAQBAAAEAQ=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Backlight Level Fix 0x0166000A</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				CgBmAQACAwIAAAACAAAAAQAAAGAQBwAAEAc=
				</data>
				<key>Name</key>
				<string>AppleIntelFramebufferCapri</string>
				<key>Replace</key>
				<data>
				CgBmAQACAwIAAAACAAAAAQAAAGASEwAAEhM=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>LVDS and HDMI patch 0x0166000A</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AgUAAAAEAAAHAQAAAwQAAAAEAAAHAQAABAYAAAAIAAAG
				AAAA
				</data>
				<key>Name</key>
				<string>AppleIntelFramebufferCapri</string>
				<key>Replace</key>
				<data>
				BQMAAAIAAAAwAgAAAwQAAAAIAAAHAQAABAYAAAAIAAAG
				AAAA
				</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>LogEveryBoot</key>
		<string>10</string>
		<key>LogLineCount</key>
		<integer>3000</integer>
		<key>MountEFI</key>
		<false/>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>
